@import '../../style/default.scss';

// 时间前后天切换
@mixin timeSwitch() {
  .#{$htht-prefix}-time-switch {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.1rem;
    justify-content: center;

    .date-box {
      display: flex;
      justify-content: center;
      margin-bottom: 0.1rem;

      .item {
        display: flex;
        align-items: center;
        margin-right: 0.1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .switch-box {
      display: flex;
      padding: 0 0.3rem;
      justify-content: space-around;

      span {
        cursor: pointer;
      }
    }
  }
}

@include timeSwitch();
