@import '../../style/default.scss';
@import '../../style/theme.scss';

##{$htht-prefix}-slider {
	width: 3rem;
	height: 100%;
	overflow: hidden;

	&:hover {
		overflow: auto;
	}

	.ant-menu {
		width: 100% !important;
		height: 100%;
	}
}
