@import '../../../style/default.scss';

// 播放工具栏
@mixin playbar() {
  .htht-playbar {
    background: rgba(4, 24, 42, 0.85);
    display: flex;
    align-items: center;
    padding: 0 0.15rem;
    height: 0.6rem;

    .play-btn {
      margin-right: 0.12rem;

      span {
        margin-right: 0.12rem;
        cursor: pointer;

        &.play-switch {
          width: 0.3rem;
          height: 0.3rem;
          padding-left: 0.02rem;
          position: relative;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border: 2px solid rgba(9, 64, 83, 1);
          margin-right: 0.15rem;
          border: 1px solid rgba(9, 64, 83, 1);

          i {
            width: 0.05rem;
            height: 0.05rem;
            display: inline-block;
            position: absolute;
            box-sizing: content-box;

            &.top-left {
              border-top: 2px solid #18efec;
              border-left: 2px solid #18efec;
              top: 0;
              left: 0;
              border-color: #18efec;
              border-width: 2px;
            }

            &.top-right {
              border-top: 2px solid #18efec;
              border-right: 2px solid #18efec;
              top: 0;
              right: 0;
            }

            &.bottom-left {
              border-bottom: 2px solid #18efec;
              border-left: 2px solid #18efec;
              bottom: 0;
              left: 0;
            }

            &.bottom-right {
              border-bottom: 2px solid #18efec;
              border-right: 2px solid #18efec;
              bottom: 0;
              right: 0;
            }
          }
        }
      }
    }

    .slider-contanier {
      flex: 1 1;

      .ant-slider {
        &.ant-slider-with-marks {
          margin-bottom: 18px;
        }

        .ant-slider-handle {
          margin-top: -20px;
          border-radius: unset;
          border: none;
          width: 0.14rem;
          height: 0.18rem;
          background: linear-gradient(135deg, #00afff 0px, #00afff 0) top left,
            linear-gradient(-135deg, #00afff 0px, #00afff 0) top right,
            linear-gradient(-45deg, transparent 50%, #00afff 0) bottom right,
            linear-gradient(45deg, transparent 50%, #00afff 0) bottom left;
          background-size: 50% 50%;
          background-repeat: no-repeat;

          &:focus {
            box-shadow: none;
          }
        }

        .ant-slider-mark-text {
          color: #fff;
          font-size: 0.12rem;
        }

        .ant-slider-track {
          background-color: #00afff;
        }

        .ant-slider-step {
          .ant-slider-dot {
            width: 0;
            height: 0;
            border: none;
          }
        }
      }
    }

    .download {
      cursor: pointer;
      margin-left: 0.15rem;
    }
  }
}

@include playbar();
