@import '../../../style/default.scss';
@import '../../../style/theme.scss';

##{$htht-prefix}-main-content {
  .content-wrapper {
    // 组件代码演示区域
    .code-box-wrapper {
      section.code-box {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 0 0 16px;
        border: 1px solid #ebedf0;
        border-radius: 2px;
        transition: all 0.2s;

        &.expend {
          section.code-box-meta {
            border-bottom: 1px dashed #ebedf0;
          }

          .code-box-actions {
            i.icon-expend {
              background-image: url('../../../static/images/icon_shrink.png') !important;
            }
          }

          section.highlight-wrapper {
            display: block;
          }
        }

        section.code-box-demo {
          padding: 0.4rem 0.25rem 0.5rem;
          color: rgba(0, 0, 0, 0.65);
          border-bottom: 1px solid #ebedf0;
        }

        section.code-box-meta {
          font-size: 0.14rem;
          position: relative;

          .code-box-title {
            position: absolute;
            top: -0.12rem;
            margin-left: 0.16rem;
            padding: 0.01rem 0.08rem;
            color: #777;
            background: #fff;
            border-radius: 2px 2px 0 0;
            transition: background-color 0.4s;

            a {
              color: #314659;
              font-weight: 500;
              font-size: 0.14rem;
            }
          }

          .code-box-description {
            padding: 0.18rem 0.24rem 0.12rem;
          }

          .code-box-actions {
            height: 0.4rem;
            padding-top: 0.1rem;
            text-align: center;
            border-top: 1px dashed #ebedf0;
            opacity: 0.7;
            transition: opacity 0.3s;

            &:hover {
              opacity: 0.9;
            }

            button {
              border: none;
              width: 0.2rem;
              height: 0.2rem;
              padding: 0;

              i {
                margin-left: 0;
              }
            }

            i {
              font-size: 0.18rem;
              cursor: pointer;
              margin-left: 0.12rem;
              width: 0.2rem;
              height: 0.2rem;
              display: inline-block;
              background-size: contain;

              &.icon-copy {
                background-image: url(../../../static/images/icon_copy.png);
              }

              &.icon-done {
                background-image: url(../../../static/images/icon_done.png);
              }

              &.icon-expend {
                background-image: url(../../../static/images/icon_expend.png);
              }
            }
          }
        }

        section.highlight-wrapper {
          display: none;
        }
      }
    }
  }
}
