$htht-prefix: 'htht';
$header-height: 0.65rem;

// 组件标题区域样式
@mixin titleStyle() {
  .content-title {
    h1 {
      font-size: 0.28rem;
      font-weight: 500;
      margin: 0.1rem 0 0.2rem 0;
      color: #0d1a26;

      span {
        margin-left: 0.12rem;
      }
    }

    p.main-desc {
      text-indent: 2em;
      font-size: 0.15rem;
    }

    h2 {
      color: #0d1a26;
      font-size: 0.23rem;
      font-weight: 500;
      margin: 0.3rem 0 0.15rem 0;

      i {
        font-weight: normal;
        font-size: 0.18rem;
        color: #3b4357;
        margin-left: 0.06rem;
      }
    }
  }
}

// 代码展示块样式
@mixin codeStyle() {
  pre {
    code {
      display: block;
      padding: 0.2rem;
      font-size: 0.14rem;
      font-family: 'Lucida Console', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      line-height: 2;
      white-space: pre;
      border: 1px solid #e9e9e9;
      border-radius: 0.03rem;
      background: #040d2de6;
      color: #fff;
    }
  }
}

// api table展示模块
@mixin apiTable() {
  .api-table {
    width: 100%;
    margin-bottom: 0.15rem;
    border: 1px solid #e8e8e8;

    thead th,
    tbody td {
      padding: 0.12rem;
      border: 1px solid #ebedf0;
    }

    thead th {
      padding-top: 0.14rem;
      background: rgba(0, 0, 0, 0.02);
    }

    tbody tr {
      &:hover {
        background: rgba(0, 0, 0, 0.02);
      }
    }
  }
}

// gis展示模块
@mixin gisBlock() {
  .gis-block {
    margin-bottom: 0.1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .gis-block-title {
      background: #2e91ecde;
      color: #fff;
      padding: 0.12rem 0.05rem;
      margin-bottom: 0.2rem;
    }

    .gis-block-subtitle {
      font-size: 0.2rem;
      margin-bottom: 0.08rem;
      color: #4e8018;
    }

    .gis-block-detail {
      text-indent: 2em;
      margin-bottom: 0.1rem;
    }
    @include apiTable();
  }
}
