$htht-prefix: 'htht';
$main-color: #1890ff;
$border-color: #d9d9d9;
$form-title-width: 0.7rem;

// 表单公用样式
@mixin formCommon() {
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 0.1rem;

    .title {
      margin-right: 0.1rem;
      width: $form-title-width;
    }

    .gap {
      margin: 0 0.05rem;
    }

    .sub-title {
      font-size: 0.13rem;
      margin-right: 0.1rem;
      width: $form-title-width;
      text-align: center;

      i {
        font-style: normal;
        background-color: $main-color;
        border-radius: 0.06rem;
        color: #fff;
        padding: 0 0.1rem;
      }
    }
  }
}

//横向时间选择
@mixin timeChoiceHorizontal() {
  .#{$htht-prefix}-time-choice.#{$htht-prefix}-time-choice-horizontal {
    @include formCommon();
  }
}

//纵向时间选择
@mixin timeChoiceVertical() {
  .#{$htht-prefix}-time-choice.#{$htht-prefix}-time-choice-vertical {
    @include formCommon();
  }
}

// 时间选择
@mixin timeChoice() {
  @include timeChoiceHorizontal();
  @include timeChoiceVertical();
}

@include timeChoice();

/***********************************************************************************/

// 两行空间选择
@mixin spaceChoiceTwoLine() {
  .#{$htht-prefix}-space-choice.#{$htht-prefix}-space-choice-two-line {
    @include formCommon();
  }
}

// 空间选择
@mixin spaceChoice() {
  @include spaceChoiceTwoLine();
}

@include spaceChoice();

/***********************************************************************************/

// 单选横向排列
@mixin radioChoicehorizontal() {
  .#{$htht-prefix}-radio-choice.#{$htht-prefix}-radio-choice-horizontal {
    @include formCommon();
  }
}

// 单选
@mixin radioChoice() {
  @include radioChoicehorizontal();
}

@include radioChoice();

/***********************************************************************************/

// 三级联动
@mixin linkageSelect() {
  .#{$htht-prefix}-linkage-select {
    display: flex;

    .item {
      display: flex;
      align-items: center;
      margin-right: 0.1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@include linkageSelect();

/***********************************************************************************/

// 时间前后天切换
@mixin timeSwitch() {
  .#{$htht-prefix}-time-switch {
    display: flex;
    flex-direction: column;
    width: 4rem;
    padding: 0.1rem;
    border: 1px solid $border-color;
    justify-content: center;

    .date-box {
      display: flex;
      justify-content: center;
      margin-bottom: 0.1rem;

      .item {
        display: flex;
        align-items: center;
        margin-right: 0.1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .switch-box {
      display: flex;
      padding: 0 0.3rem;
      justify-content: space-around;

      span {
        cursor: pointer;
      }
    }
  }
}

@include timeSwitch();

/***********************************************************************************/

// 横向选择框
@mixin searchBoxHorizontal() {
  .#{$htht-prefix}-search-box.#{$htht-prefix}-search-box-horizontal {
    padding: 0.1rem;
    border: 1px solid $border-color;
    border-radius: 0.1rem;

    form {
      display: flex;

      .item {
        margin-bottom: 0;
        margin-right: 0.1rem;
      }
    }
  }
}

/***********************************************************************************/

// 纵向选择框
@mixin searchBoxVertical() {
  .#{$htht-prefix}-search-box.#{$htht-prefix}-search-box-vertical {
    width: 4rem;
    padding: 0.1rem;
    border: 1px solid $border-color;
    border-radius: 0.1rem;

    @include formCommon();

    .ant-form-item {
      flex: 1 1;
    }
  }
}

// 纵向选择框
@mixin searchBox() {
  @include searchBoxHorizontal();
  @include searchBoxVertical();
}

@include searchBox();

/***********************************************************************************/

// 表格列表
@mixin tableList() {
  .#{$htht-prefix}-list.#{$htht-prefix}-table-list {
    width: 5rem;
    border: 1px solid $border-color;
    border-radius: 0.1rem;
    overflow: hidden;

    .opetates {
      span {
        cursor: pointer;
        margin-right: 0.05rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

// 树结构列表
@mixin treeList() {
  .#{$htht-prefix}-list.#{$htht-prefix}-tree-list {
    width: 3rem;
    border: 1px solid $border-color;
    border-radius: 0.1rem;
    padding: 0.1rem;
  }
}

// 滚动列表
@mixin scrollList() {
  .#{$htht-prefix}-list.#{$htht-prefix}-scroll-list {
    width: 3rem;
    border: 1px solid $border-color;
    border-radius: 0.1rem;
    padding: 0.1rem;

    ul {
      li {
        line-height: 0.35rem;
        border-bottom: 1px solid $border-color;
        padding-left: 0.12rem;
      }
    }
  }
}

// 列表
@mixin list() {
  @include tableList();
  @include treeList();
  @include scrollList();
}

@include list();

/***********************************************************************************/

// 视频播放
@mixin videoPlay() {
  .#{$htht-prefix}-videoplay {
    height: calc(100% - 0.3rem);
    padding: 0.2rem;
    box-sizing: border-box;
    position: relative;

    video {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }

    i.controls {
      position: absolute;
      width: 0.47rem;
      height: 0.47rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url('../static/images/icon_play.png') no-repeat center;
      background-size: contain;
      z-index: 99;
      cursor: pointer;

      &.pause {
        background: url('../static/images/icon_pause.png') no-repeat center;
        background-size: contain;
      }
    }

    i.border {
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url('../static/images/border_video.png') no-repeat center;
      background-size: 85% 74%;
    }
  }
}

/***********************************************************************************/

// 轮播图
@mixin carousels() {
  .#{$htht-prefix}-carousels {
  }
}

// 统计（大屏）
@mixin statistics() {
  @include videoPlay();
  @include carousels();
}

@include statistics();

/***********************************************************************************/

// 地图工具栏
@mixin toolbar() {
  .htht-toolbar {
    z-index: 2;
    position: absolute;
    top: 0.2rem;
    transition: left 0.6s;

    .toolbar-list {
      display: flex;
      justify-content: flex-start;
      height: 0.45rem;
      border: 1px solid #c9c9c9;
      background: #ffffff;
      box-sizing: border-box;
      padding: 0.1rem;
      border-radius: 0.06rem;
      box-shadow: 4px 5px 10px 0px #b5b1b1;

      & > li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        padding: 0 0.08rem;
        border-left: 1px solid #c9c9c9;
        cursor: pointer;
        position: relative;

        &:hover,
        &.active {
          color: $main-color;
        }

        &:first-child {
          border-left: 0px;
        }

        & > i {
          margin-right: 0.05rem;
          font-size: 0.18rem;
        }
      }
    }
  }
}

@include toolbar();

/***********************************************************************************/

// 播放工具栏
@mixin playbar() {
  .htht-playbar {
    background: rgba(4, 24, 42, 0.85);
    display: flex;
    align-items: center;
    padding: 0 0.15rem;
    height: 0.6rem;

    .play-btn {
      margin-right: 0.12rem;

      span {
        margin-right: 0.12rem;
        cursor: pointer;

        &.play-switch {
          width: 0.3rem;
          height: 0.3rem;
          padding-left: 0.02rem;
          position: relative;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border: 2px solid rgba(9, 64, 83, 1);
          margin-right: 0.15rem;
          border: 1px solid rgba(9, 64, 83, 1);

          i {
            width: 0.05rem;
            height: 0.05rem;
            display: inline-block;
            position: absolute;
            box-sizing: content-box;

            &.top-left {
              border-top: 2px solid #18efec;
              border-left: 2px solid #18efec;
              top: 0;
              left: 0;
              border-color: #18efec;
              border-width: 2px;
            }

            &.top-right {
              border-top: 2px solid #18efec;
              border-right: 2px solid #18efec;
              top: 0;
              right: 0;
            }

            &.bottom-left {
              border-bottom: 2px solid #18efec;
              border-left: 2px solid #18efec;
              bottom: 0;
              left: 0;
            }

            &.bottom-right {
              border-bottom: 2px solid #18efec;
              border-right: 2px solid #18efec;
              bottom: 0;
              right: 0;
            }
          }
        }
      }
    }

    .ant-slider {
      flex: 1 1;

      &.ant-slider-with-marks {
        margin-bottom: 18px;
      }

      .ant-slider-handle {
        margin-top: -20px;
        border-radius: unset;
        border: none;
        width: 0.14rem;
        height: 0.18rem;
        background: linear-gradient(135deg, #00afff 0px, #00afff 0) top left,
          linear-gradient(-135deg, #00afff 0px, #00afff 0) top right,
          linear-gradient(-45deg, transparent 50%, #00afff 0) bottom right,
          linear-gradient(45deg, transparent 50%, #00afff 0) bottom left;
        background-size: 50% 50%;
        background-repeat: no-repeat;

        &:focus {
          box-shadow: none;
        }
      }

      .ant-slider-mark-text {
        color: #fff;
        font-size: 0.12rem;
      }

      .ant-slider-track {
        background-color: #00afff;
      }

      .ant-slider-step {
        .ant-slider-dot {
          width: 0;
          height: 0;
          border: none;
        }
      }
    }

    .download {
      cursor: pointer;
      margin-left: 0.15rem;
    }
  }
}

@include playbar();

/***********************************************************************************/

// 饼状图样式
@mixin hthtChartPie() {
  .htht-chart-pie {
    width: 100%;
    height: 100%;
  }
}

@include hthtChartPie();

/***********************************************************************************/

// 柱状图样式
@mixin hthtChartBar() {
  .htht-chart-bar {
    width: 100%;
    height: 100%;
  }
}

@include hthtChartBar();

/***********************************************************************************/

// 折线图样式
@mixin hthtChartLine() {
  .htht-chart-line {
    width: 100%;
    height: 100%;
  }
}

@include hthtChartLine();

/***********************************************************************************/

// 折线图样式
@mixin hthtChartGauge() {
  .htht-chart-gauge {
    width: 100%;
    height: 100%;
  }
}

@include hthtChartGauge();

/***********************************************************************************/
// 修改antd默认样式
#root {
  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-form-explain {
    position: absolute;
    font-size: 0.1rem;
  }
}
