$htht-prefix: 'htht';
$main-color: #1890ff;
$border-color: #d9d9d9;
$form-title-width: 0.7rem;

// 表单公用样式
@mixin formCommon() {
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 0.1rem;

    .title {
      margin-right: 0.1rem;
      width: $form-title-width;
    }

    .gap {
      margin: 0 0.05rem;
    }

    .sub-title {
      font-size: 0.13rem;
      margin-right: 0.1rem;
      width: $form-title-width;
      text-align: center;

      i {
        font-style: normal;
        background-color: $main-color;
        border-radius: 0.06rem;
        color: #fff;
        padding: 0 0.1rem;
      }
    }
  }
}

//横向时间选择
@mixin timeChoiceHorizontal() {
  .#{$htht-prefix}-time-choice.#{$htht-prefix}-time-choice-horizontal {
    @include formCommon();
  }
}

//纵向时间选择
@mixin timeChoiceVertical() {
  .#{$htht-prefix}-time-choice.#{$htht-prefix}-time-choice-vertical {
    @include formCommon();
  }
}

// 时间选择
@mixin timeChoice() {
  @include timeChoiceHorizontal();
  @include timeChoiceVertical();
}

@include timeChoice();

/***********************************************************************************/

// 两行空间选择
@mixin spaceChoiceTwoLine() {
  .#{$htht-prefix}-space-choice.htht-space-choice-two-line {
    @include formCommon();
  }
}

// 空间选择
@mixin spaceChoice() {
  @include spaceChoiceTwoLine();
}

@include spaceChoice();

/***********************************************************************************/

// 单选横向排列
@mixin radioChoicehorizontal() {
  .#{$htht-prefix}-radio-choice.htht-radio-choice-horizontal {
    @include formCommon();
  }
}

// 单选
@mixin radioChoice() {
  @include radioChoicehorizontal();
}

@include radioChoice();

/***********************************************************************************/

// 三级联动
@mixin linkageSelect() {
  .#{$htht-prefix}-linkage-select {
    display: flex;

    .item {
      display: flex;
      align-items: center;
      margin-right: 0.1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@include linkageSelect();

/***********************************************************************************/

// 时间前后天切换
@mixin timeSwitch() {
  .#{$htht-prefix}-time-switch {
    display: flex;
    flex-direction: column;
    width: 4rem;
    padding: 0.1rem;
    border: 1px solid $border-color;
    justify-content: center;

    .date-box {
      display: flex;
      justify-content: center;
      margin-bottom: 0.1rem;

      .item {
        display: flex;
        align-items: center;
        margin-right: 0.1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .switch-box {
      display: flex;
      padding: 0 0.3rem;
      justify-content: space-around;

      span {
        cursor: pointer;
      }
    }
  }
}

@include timeSwitch();

/***********************************************************************************/

// 横向选择框
@mixin searchBoxHorizontal() {
  .#{$htht-prefix}-search-box.htht-search-box-horizontal {
    padding: 0.1rem;
    border: 1px solid $border-color;
    border-radius: 0.1rem;

    form {
      display: flex;

      .item {
        margin-bottom: 0;
        margin-right: 0.1rem;
      }
    }
  }
}

/***********************************************************************************/

// 纵向选择框
@mixin searchBoxVertical() {
  .#{$htht-prefix}-search-box.htht-search-box-vertical {
    width: 4rem;
    padding: 0.1rem;
    border: 1px solid $border-color;
    border-radius: 0.1rem;

    @include formCommon();

    .ant-form-item {
      flex: 1 1;
    }
  }
}

// 纵向选择框
@mixin searchBox() {
  @include searchBoxHorizontal();
  @include searchBoxVertical();
}

@include searchBox();

/***********************************************************************************/

// 修改antd默认样式
#root {
  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-form-explain {
    position: absolute;
    font-size: 0.1rem;
  }
}
