@import '../components//time_choice/demo/style/index.scss';
@import '../components/space_choice/demo/style/index.scss';
@import '../components/linkage_select/demo/style/index.scss';
@import '../components/time_switch/demo/style/index.scss';
@import '../components/search_box/demo/style/index.scss';
@import '../components/playbar/demo/style/index.scss';
@import '../components/video_play/demo/style/index.scss';

$htht-prefix: 'htht';

// 表格列表
@mixin tableList() {
  .#{$htht-prefix}-list.#{$htht-prefix}-table-list {
    width: 5rem;
    border: 1px solid $form-border-color;
    border-radius: 0.1rem;
    overflow: hidden;

    .opetates {
      span {
        cursor: pointer;
        margin-right: 0.05rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

// 树结构列表
@mixin treeList() {
  .#{$htht-prefix}-list.#{$htht-prefix}-tree-list {
    width: 3rem;
    border: 1px solid $form-border-color;
    border-radius: 0.1rem;
    padding: 0.1rem;
  }
}

// 滚动列表
@mixin scrollList() {
  .#{$htht-prefix}-list.#{$htht-prefix}-scroll-list {
    width: 3rem;
    border: 1px solid $form-border-color;
    border-radius: 0.1rem;
    padding: 0.1rem;

    ul {
      li {
        line-height: 0.35rem;
        border-bottom: 1px solid $form-border-color;
        padding-left: 0.12rem;
      }
    }
  }
}

// 列表
@mixin list() {
  @include tableList();
  @include treeList();
  @include scrollList();
}

@include list();

// 轮播图
@mixin carousels() {
  .#{$htht-prefix}-carousels {
  }
}

// 统计（大屏）
@mixin statistics() {
  @include carousels();
}

@include statistics();

/***********************************************************************************/

// 地图工具栏
@mixin toolbar() {
  .htht-toolbar {
    z-index: 2;
    position: absolute;
    top: 0.2rem;
    transition: left 0.6s;

    .toolbar-list {
      display: flex;
      justify-content: flex-start;
      height: 0.45rem;
      border: 1px solid #c9c9c9;
      background: #ffffff;
      box-sizing: border-box;
      padding: 0.1rem;
      border-radius: 0.06rem;
      box-shadow: 4px 5px 10px 0px #b5b1b1;

      & > li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        padding: 0 0.08rem;
        border-left: 1px solid #c9c9c9;
        cursor: pointer;
        position: relative;

        &:hover,
        &.active {
          color: $main-color;
        }

        &:first-child {
          border-left: 0px;
        }

        & > i {
          margin-right: 0.05rem;
          font-size: 0.18rem;
        }
      }
    }
  }
}

@include toolbar();

/***********************************************************************************/

/***********************************************************************************/

// 饼状图样式
@mixin hthtChartPie() {
  .htht-chart-pie {
    width: 100%;
    height: 100%;
  }
}

@include hthtChartPie();

/***********************************************************************************/

// 柱状图样式
@mixin hthtChartBar() {
  .htht-chart-bar {
    width: 100%;
    height: 100%;
  }
}

@include hthtChartBar();

/***********************************************************************************/

// 折线图样式
@mixin hthtChartLine() {
  .htht-chart-line {
    width: 100%;
    height: 100%;
  }
}

@include hthtChartLine();

/***********************************************************************************/

// 折线图样式
@mixin hthtChartGauge() {
  .htht-chart-gauge {
    width: 100%;
    height: 100%;
  }
}

@include hthtChartGauge();

/***********************************************************************************/
// 修改antd默认样式
html {
  body {
    .ant-form-item {
      margin-bottom: 0;
    }
  }

  .ant-form-explain {
    position: absolute;
    font-size: 0.1rem;
  }
}
