$main-color: #1890ff;
$border-color: #d9d9d9;
$form-title-width: 0.7rem;
$slideWidth: 40%;

@mixin init() {
  background: #1d2542;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin title() {
  font-size: 0.26rem;
}

/***********************************************************************************/
.gis-preface {
  @include init();
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    @include title();
    margin-bottom: 0.1rem;
  }
}

/***********************************************************************************/
.gis-change-log {
  @include init();
  display: flex;
  align-items: center;
  justify-content: space-around;

  .gis-change-time {
    width: #{$slideWidth};
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .ant-timeline-item-content {
      color: #{$border-color};
      cursor: pointer;
    }

    .ant-timeline-item-content:hover {
      color: #{$main-color};
    }
  }

  .gis-change-content {
    width: calc(100% - #{$slideWidth});


    h1 {
      color: #{$border-color};
      font-size: 0.26rem;
    }

    li {
      color: #{$border-color};
      margin: 0.2rem 0;
    }

  }


}

/***********************************************************************************/

.gis-install {
  @include init();
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    color: #fff;
  }

  ol {
    li {
      @include title();
      margin-bottom: 0.1rem;
    }
  }
}

/***********************************************************************************/

.gis-NjHTHTMAP {
  p {
    @include title();
  }
}
