@import './default.scss';
@import './theme.scss';

html,
body {
  font-size: 625%;
  background: #fff;

  @include changeAntdCss();
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  .main-wrapper {
    height: calc(100% - #{$header-height});
    overflow: hidden;

    & > div {
      height: 100%;
      padding-top: 0.2rem;

      ##{$htht-prefix}-main-content {
        flex: 1 1;
        height: 100%;
        overflow: auto;

        .content-wrapper {
          padding: 0 1.5rem 1rem 0.6rem;
        }
      }
    }
  }
}

code {
  background: #040d2de6 !important;
  color: #fff !important;
}
