@import './default.scss';
@import './theme.scss';

html,
body {
  font-size: 625%;
  background: #fff;

  @include changeAntdCss();
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  .main-wrapper {
    height: calc(100% - #{$header-height});
    overflow: hidden;

    & > div {
      height: 100%;
      padding-top: 0.2rem;

      ##{$htht-prefix}-main-content {
        flex: 1 1;
        height: 100%;
        overflow: auto;

        .content-wrapper {
          position: relative;
          padding: 0 1.5rem 1rem 0.5rem;
          min-height: 100%;

          // 组件名称和解释说明
          @include titleStyle();

          // 代码模块样式
          @include codeStyle();
        }
      }
    }
  }
}


.cesium-viewer-bottom{
  display: none;
}
