@import '../../../style/default.scss';
@import '../../../style/theme.scss';

##{$htht-prefix}-main-content {
	flex: 1 1;
	height: 100%;
	overflow: auto;

	.content-wrapper {
		height: 3000px;
		padding: 0 1.5rem 1rem 0.6rem;

		// 组件名称和解释说明
		.markdown {
			h1 {
				font-size: 0.28rem;
				font-weight: 500;
				margin: 0.1rem 0 0.2rem 0;
				color: #0d1a26;

				span {
					margin-left: 0.12rem;
				}
			}

			p.description {
				text-indent: 2em;
			}

			h2 {
				color: #0d1a26;
				font-size: 0.23rem;
				font-weight: 500;
				margin: 0.35rem 0 0.15rem 0;

				i {
					font-weight: normal;
					font-size: 0.18rem;
					color: #3b4357;
					margin-left: 0.06rem;
				}
			}
		}

		// 组件代码演示区域
		.code-box-wrapper {
			section.code-box {
				position: relative;
				display: inline-block;
				width: 100%;
				margin: 0 0 16px;
				border: 1px solid #ebedf0;
				border-radius: 2px;
				transition: all 0.2s;

				&.expend {
					section.code-box-meta {
						border-bottom: 1px dashed #ebedf0;
					}

					.code-box-actions {
						i.icon-expend {
							background-image: url('../../../static/images/icon_shrink.png') !important;
						}
					}

					section.highlight-wrapper {
						display: block;
					}
				}

				section.code-box-demo {
					padding: 0.4rem 0.25rem 0.5rem;
					color: rgba(0, 0, 0, 0.65);
					border-bottom: 1px solid #ebedf0;
				}

				section.code-box-meta {
					font-size: 0.14rem;
					position: relative;

					.code-box-title {
						position: absolute;
						top: -0.12rem;
						margin-left: 0.16rem;
						padding: 0.01rem 0.08rem;
						color: #777;
						background: #fff;
						border-radius: 2px 2px 0 0;
						transition: background-color 0.4s;

						a {
							color: #314659;
							font-weight: 500;
							font-size: 0.14rem;
						}
					}

					.code-box-description {
						padding: 0.18rem 0.24rem 0.12rem;
					}

					.code-box-actions {
						height: 0.4rem;
						padding-top: 0.1rem;
						text-align: center;
						border-top: 1px dashed #ebedf0;
						opacity: 0.7;
						transition: opacity 0.3s;

						&:hover {
							opacity: 0.9;
						}

						button {
							border: none;
						}

						i {
							font-size: 0.18rem;
							cursor: pointer;
							margin-left: 0.12rem;
							width: 0.2rem;
							height: 0.2rem;
							display: inline-block;
							background-size: contain;

							&.icon-copy {
								background-image: url(../../../static/images/icon_copy.png);
							}

							&.icon-expend {
								background-image: url(../../../static/images/icon_expend.png);
							}
						}
					}
				}

				section.highlight-wrapper {
					// height: 600px;
					display: none;

					pre {
						code {
							display: block;
							padding: 16px 32px;
							color: #314659;
							font-size: 14px;
							font-family: 'Lucida Console', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
							line-height: 2;
							white-space: pre;
							background: white;
							border: 1px solid #e9e9e9;
							border-radius: 2px;
						}
					}
				}
			}
		}
	}
}
