@import '../../style/default.scss';
@import '../../style/theme.scss';

// 横向选择框
@mixin searchBoxHorizontal() {
  .#{$htht-prefix}-search-box.#{$htht-prefix}-search-box-horizontal {
    form {
      display: flex;
      align-items: center;

      .item {
        margin-bottom: 0;
        margin-right: 0.1rem;
      }
    }
  }
}

/***********************************************************************************/

// 纵向选择框
@mixin searchBoxVertical() {
  .htht-search-box.htht-search-box-vertical {
    width: 100%;

    @include formCommon();

    .ant-form-item {
      flex: 1 1;
    }
  }
}

// 纵向选择框
@mixin searchBox() {
  @include searchBoxHorizontal();
  @include searchBoxVertical();
}

@include searchBox();
